<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>

<div th:replace="fragments/menu :: main-menu"></div>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br/></div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="/cat.jpg" class="rounded" alt="cat with lamp" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-10 text-left text-info">
                        main.cpp
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-10 text-justify border border-primary rounded">
                        <pre>
                            <code style="color: darkblue">
    <span style="color: #ff8000;">#</span>include <span style="color: #ff0000;">&lt;</span><span style="color: green;">iostream</span><span style="color: #ff0000;">&gt;</span>

    <var style="color: #8000ff;">int</var> main <span style="color: burlywood">()</span> <span style="color: blue">{</span>
        std<span style="color: #ff0000;">::</span>cout <span style="color: darkgoldenrod;">&lt;&lt;</span> <span style="color: green;">"Hello world!"</span> <span style="color: gold;">&lt;&lt;</span> std<span style="color: #ff0000;">::</span>endl;

        <span style="color: #8000ff;">return</span> <var style="color: darkblue">0</var>;
    <span style="color: blue">}</span>
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="col-md-5" role="alert">
                <blockquote class="pull-right alert alert-success">
                    <p th:text="${aphorism.text}">aphorism</p>
                    <small><cite th:text="${aphorism.copyright}">author</cite></small>
                </blockquote>
            </div>
        </div>
    </div>
</main>
</body>
</html>