<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:include="fragments/menu :: main-menu"></div>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br/></div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <style type="text/css"> @import url("/css/carousel.css"); </style>

                        <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <th:block th:each="photo, iter : ${carousel}">
                                    <li data-target="#myCarousel" th:attr="data-slide-to=${photo.id}"></li>
                                </th:block>>
                            </ol>
                            <div class="carousel-inner">
                                <li data-target="#myCarousel" class="carousel-item" th:each="photo, iter : ${carousel}" th:classappend="${iter.index} ? '' : active">
                                    <img th:src="${photo.url}">
                                    <div class="carousel-caption" th:text="${photo.title}">photo title</div>
                                </li>
                            </div>
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-10 text-left text-info">
                        main.cpp
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-10 text-justify border border-primary rounded">
                        <pre>
                            <code style="color: darkblue">
    <span style="color: #ff8000;">#</span>include <span style="color: #ff0000;">&lt;</span><span style="color: green;">iostream</span><span style="color: #ff0000;">&gt;</span>

    <var style="color: #8000ff;">int</var> main <span style="color: burlywood">()</span> <span style="color: blue">{</span>
        std<span style="color: #ff0000;">::</span>cout <span style="color: darkgoldenrod;">&lt;&lt;</span> <span style="color: green;">"Hello world!"</span> <span style="color: gold;">&lt;&lt;</span> std<span style="color: #ff0000;">::</span>endl;

        <span style="color: #8000ff;">return</span> <var style="color: darkblue">0</var>;
    <span style="color: blue">}</span>
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="col-md-5" role="alert">
                <blockquote class="pull-right alert alert-success">
                    <p th:text="${aphorism.text}">aphorism</p>
                    <small><cite th:text="${aphorism.copyright}">author</cite></small>
                </blockquote>
            </div>
        </div>
    </div>
</main>
</body>
</html>